*{
  /* background-color: white; */
  padding: 0;
  margin: 0;
}
.icon1{
  background-color: transparent;
}

body{
  animation: bodyfade 2s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}
@keyframes bodyfade {
  0%{opacity: 0;}
  100%{opacity: 1;}
}
#navbar{
  height: 60px;
  width: 100%;
  background-color: #187ab9;
  box-shadow: 0px 0px 4px;
  border-bottom: 4px solid white;
  display: inline-block;
  position: fixed;
}
.navbarheading{
font-size: 30px;
color: white;
position: absolute;
top: 12px;
left: 18px;
text-transform: uppercase;
font-family: Arial, Helvetica, sans-serif;
}
@media screen and (max-width:768px) {
.navbarheading{
  font-size: 25px;
  top: 13px;
}
}
@media screen and (max-width:480px) {
.navbarheading{
  font-size: 22.5px;
  top: 15px;
}
}
@media screen and (max-width:360px) {
.navbarheading{
  font-size: 19.5px;
  top: 17px;
}
}
#navbar .navbar-ul{
  float: right;
  margin-right: 2rem;
}
#navbar .navbar-ul .navbar-li{
  display: inline-block;
  line-height: 57px;
  margin: 0 15px;
}
#navbar .navbar-ul .navbar-li .navbar-link-of-home{
  position: relative;
  color: white;
  font-size: 18px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 3px 0;
  font-family: Arial, Helvetica, sans-serif;
}
#navbar .navbar-ul .navbar-li .navbar-link-of-home:hover::before{
transform: scaleX(1);
transform-origin: left;
}
#navbar .navbar-ul .navbar-li .navbar-link-of-home::before{
position: absolute;
content: "";
left: 0;
bottom: 0;
height: 3px;
width: 100%;
background: white;
transform: scaleX(0);
transform-origin: right;
transition: transform .4s linear;
}
.dropdown-item{
height: 40px;
background-color: #187bb9;
display: flex;
align-items: center;
}
.dropdown-menu{
margin-top: 24px;
color: black;
}
.dropdown-menu .navbar-link-of-home{
color: white;
}
.dropdown-item:hover{
background-color: #187ab9; 
color: #000000;
height: 40px;
}
.searchicon1{
color: white;
float: right;
line-height: 56px;
font-size: 23px;
margin-right: 35px;
}
@media screen and (max-width:1279px) {
.searchicon1{
font-size: 21.5px;
}
}
@media screen and (max-width:768px) {
.searchicon1{
font-size: 17.5px;
}
}
@media screen and (max-width:360px) {
.searchicon1{
font-size: 17px;
margin-right: 15px;
}
}
.cart{
color: white;
float: right;
line-height: 56px;
font-size: 25.5px;
margin-right: 28px;
}
@media screen and (max-width:1279px) {
.cart{
font-size: 23.5px;
}
}
@media screen and (max-width:768px) {
.cart{
font-size: 20px;
}
}
@media screen and (max-width:360px) {
.cart{
font-size: 18px;
margin-right: 10px;
}
}
.heart2{
color: white;
float: right;
line-height: 56px;
font-size: 23px;
margin-right: 36px;
font-weight: bold;
}
@media screen and (max-width:1279px) {
.heart2{
font-size: 21px;
}
}
@media screen and (max-width:768px) {
.heart2{
font-size: 18px;
}
}
@media screen and (max-width:360px) {
.heart2{
font-size: 16.5px;
margin-right: 15px;
}
}
.heart1{
color: white;
float: right;
line-height: 55px;
font-size: 25.5px;
right: 35px;
top: .5px;
position: absolute;
font-weight: bold;
opacity: 0;
transition: all 1.5s ;
}
.heart1:hover{
opacity: 1;
}
@media screen and (max-width:1325px) {
.heart1{
  display: none;
}
}
label #bars , label #cancel{
color: white;
font-size: 30px;
float: right;
line-height: 56px;
margin-right: 20px;
display: none;
}
@media screen and (max-width:1325px) {
label #bars{
  display: block;
}
.navbar-ul{
  position: absolute;
  width: 100%;
  height: 85vh;
  background-color: #187ab9;
  top: 60px;
  left: -100%;
  text-align: center;
  transition: all 0s;
}
#navbar .navbar-ul .navbar-li{
  display: block;
  margin: 50px 0;
  line-height: 14px;
}
#navbar .navbar-ul .navbar-li .navbar-link-of-home{
  font-size: 18px;
}
#check:checked ~ .navbar-ul{
  left: 0;
}
#check:checked ~ .navbar-label #bars{
  display: none;
}
#check:checked ~ .navbar-label #cancel{
  display: block;
}
}
@media screen and (max-width:1279px) {
.navbar-label #bars{
  font-size: 25px;
}
}
@media screen and (max-width:768px) {
.navbar-label #bars{
  font-size: 20px;
  margin-right: 34px;
}
}
@media screen and (max-width:360px) {
.navbar-label #bars{
  font-size: 18px;
  margin-right: 15px;
}
}
@media screen and (max-width:1279px) {
.navbar-label #canel{
  font-size: 25px;
}
}
@media screen and (max-width:768px) {
.navbar-label #cancel{
  font-size: 20px;
  margin-right: 34px;
}
}
.navbar-label{
float: right;
}
#check{
display: none;
}
.searchboxdiv{
display: flex;
justify-content: flex-end;
width: cover;
}
#filtersearchbox{
display: none;
cursor: auto;
position: fixed;
width: 300.5px;
background-color: #ffffff;
padding:5px 8px 5px 8px;
box-shadow: 0 0 1px inset;
/* border: 1px solid #187ab9; */
border: 0;
outline: 0;
}
.lets{
  font-size: 18px;
  color: white;
  background-color: transparent;
  position: absolute;
  top: 18px;
  left: 393.5px;
  font-family: Arial, Helvetica, sans-serif;
}
@media screen and (max-width:1200px) {
  .lets{
    display: none;
  }
}
/* #navbar{
    height: 60px;
    width: 100%;
    background-color: #c6e5f829;
    box-shadow: 0px 0px 5px;
    display: inline-block;
}
.icon1{
    background-color: transparent;
}
.navbarheading{
    font-size: 30px;
    color: #187ab9;
    background-color: transparent;
    position: absolute;
    top: 12px;
    left: 18px;
    text-transform: uppercase;
  }
  @media screen and (max-width:768px) {
    .navbarheading{
      font-size: 25px;
      top: 13px;
    }
  }
  @media screen and (max-width:480px) {
    .navbarheading{
      font-size: 22.5px;
      top: 15px;
    }
  }
  #navbar .navbar-ul{
      float: right;
      margin-right: 5rem;
      background-color: transparent;
  }
  #navbar .navbar-ul .navbar-li{
      display: inline-block;
      line-height: 60.5px;
      background-color: transparent;
      margin: 0 15px;
  }
  #navbar .navbar-ul .navbar-li .navbar-link-of-home{
      position: relative;
      color: #187ab9;
      font-size: 18px;
      text-transform: uppercase;
      text-decoration: none;
      padding: 3px 0;
      background-color: transparent;
      font-family: Arial, Helvetica, sans-serif;
  }
  #navbar .navbar-ul .navbar-li .navbar-link-of-home::before{
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    height: 3px;
    width: 100%;
    background: #187ab9;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .4s linear;
  }
  #navbar .navbar-ul .navbar-li .navbar-link-of-home:hover::before{
    transform: scaleX(1);
    transform-origin: left;
  } */
.Services{
    text-align: center;
    color: #187ab9;
    font-family: 'Times New Roman', Times, serif;
    font-size: 43px;
    margin-bottom: 80px;
    font-weight: lighter;
    transition: all .5s linear;
    padding-top: 90px;
  }

  @media screen and (max-width:1279px){
    .Services{
      font-size: 40px;
    }
  }
  @media screen and (max-width:768px){
    .Services{
      font-size: 35px;
    }
  }
  @media screen and (max-width:480px){
    .Services{
      font-size: 25px;
    }
  }
  .welcomeboxmain{
    width: cover;
    height: cover;
    /* background-color: #6d7a83; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -30px;
    flex-wrap: wrap;
  }
  .welcomeboxmainboxa{
    width: 350px;
    height: 234px;
    /* background-color: #b6612c; */
    box-sizing: border-box;
    /* border: 1px solid black; */
    margin: 8px 18px -10px 18px;
  }
  .welcomeboxmainboxacircle{
    display: flex;
    justify-content: center;
    width: cover;
    height: 60px;
    /* background-color: #92b435; */
    margin-bottom: 20px;
  }
  .welcomeboxmainboxacircleicon{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #187ab9;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color: white;
    transition: all .6s linear;
  }
  .welcomeboxmainboxacircleicon:hover{
    background-color: white;
    color: #187ab9;
    background: #ffffff;
    box-shadow:  20px 20px 60px #d9d9d9,
                 -20px -20px 60px #ffffff;
  }
  .welcomeboxmainboxapara{
    text-align: center;
    font-size: 20px;
    color: #187ab9;
    font-family: Arial, Helvetica, sans-serif;
  }
  .line{
    width: cover;
    border: 4px double #187ab9;
    position: relative;
    margin-top: -20px;
  }